In [2]:
import pandas as pd
import numpy as np
import json
from psycopg2.extras import Json
import psycopg2

In [3]:
#-----Password hidden
f=open("PW.txt", "r") 
userPw=[f.readline()]
f.close()
#------------------------SQL Connection

conn = psycopg2.connect(host="mds-dsi-db.postgres.database.azure.com",
                        port="5432",
                        database="finance_data",
                        user="ds22m017",
                        password=str(userPw[0]),#SchachingeR14
                        connect_timeout=3)
cur = conn.cursor()

print("con done")

#------------------------SQL Query
query = "SELECT * FROM wiki_sp_500_companies"
SP_500 = pd.read_sql_query(query, conn)

print("query done")

#------------------------SQL Close
cur.close()
conn.close()

con done

c:\Users\gabri\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

query done

In [58]:
ticker='CRM'

In [59]:
df_info = pd.DataFrame([SP_500[SP_500['symbol'] == ticker]['info'].values[0]]  ).T
df_info.columns = [ticker]


df_info.style

In [60]:
df_info.index

Index(['Type', 'Founded', 'Revenue', 'Website', 'Formerly', 'Founders',
       'Industry', 'Services', 'Traded as', 'Key people', 'Net income',
       'Trade name', 'Headquarters', 'Subsidiaries', 'Total assets',
       'Total equity', 'Operating income', 'Number of employees'],
      dtype='object')

In [ ]:
''''''